* {
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
}

h6 {
    font-size: 20px;
}

.black-section {
    background-color: #363a3e;
    color: white;
    padding: 40px 60px 0;
}

.white-section {
    background-color: #eef4f7;
    padding: 20px 60px 0;
    color: #363a3e;
}

.content section{
    flex: 1;
    position: relative;
}

body {
    height: 100vh;
}

.form {
    height: 130px;
    position: relative;
    top: -90px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 10px 30px -15px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 10px 30px -15px rgba(0,0,0,0.5);
    box-shadow: 0px 10px 30px -15px rgba(0,0,0,0.5);
    max-width: 905px;

}

.form-control {
    background-color: #eff0f0;
    height: 40px;
}

.form-group-1 {
    width: 200px;
    margin-right: 25px;
}

label {
    font-size: 12px;
    padding-left: 5px;
}

.link {
    font-size: 12px;
    text-align: right;
    margin-left: auto;
}

.link a {
    color: #363a3e;
}

.back-link {
    text-align: left;
    margin-left: 0;
    margin-top: 60px;
}

.back-link a{
    color: white;
}

.border-10 {
    border-radius: 10px;
}

.btn {
    height: 40px;
    background-color: #ff4f54;
    color: white;
}

.form-group-1:last-child {
    width: 120px;
    margin: 0;
    margin-left: auto;
}

.form-group-1:nth-child(3) {
    width: unset;
}

.form-group-1:nth-child(2), .form-group-1:nth-child(3){
    margin-right: 10px;
}

img {
    cursor: pointer;
    margin-bottom: 5px;
}

select option:disabled {
    background-color: #eff0f0;
}

.result {
    max-width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
}

.table {
    width: 100%;
    display: table;
    border-collapse: separate; 
    border-spacing: 0 10px;
    table-layout: fixed;
}

.table-header{
    display: table-header-group;
    font-weight: bold;
    font-size: 12px;
    color: #959799;
}

.table-header-cell, .table-body-cell{
    display: table-cell;
    padding: 20px 80px 20px;
    text-align: justify;
}

.table-body{
    display: table-row-group;
}

.table-row{
    display: table-row;
    border-radius: 15px;
    background-color: white;
    height: 60px;
}

.table-body-cell{
    font-size: 16px;
    vertical-align: middle;
    line-height: 19px;
}

.table-body-cell:first-child{
    border-top-left-radius: 15px; 
    border-bottom-left-radius: 15px;
}

.table-body-cell:last-child{
    border-bottom-right-radius: 15px; 
    border-top-right-radius: 15px; 
}



@media(max-width: 1024px) {
    .white-section {
        padding: 20px 30px 0;
    }
}

@media(max-width: 576px) {
    .form-group-1 {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    
    .form .d-flex{
        flex-direction: column;
    }

    .form {
        height: unset;
        top: -65px;
    }

    .form-group-1:nth-child(3){
        margin-right: 0px;
        max-height: 0;
    }

    .white-section {
        padding: 10px 20px 0;
    }

    .black-section {
        padding: 20px 20px;
        min-height: 400px;
    }

    .link {
        position: relative;
        top: -40px;
    }

    #main-title {
        margin-top: 65px;
        padding-right: 40px;
    }

    .form-group-1 img{
        position: absolute;
    }

    .table-header-cell, .table-body-cell{
        padding: 20px;
        overflow-wrap: break-word;
        text-align: left;
    }

    .table-header-cell:last-child, .table-body-cell:last-child{
        padding: 0 20px 0 0;
        overflow-wrap: break-word;
        text-align: left;
    }

    .result {
        padding: 0px 0px 80px 40px;
    }
}